html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Nunito, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  justify-items: center;
}

main.content {
  justify-items: start;
  text-align: start;
}

ol.content {
  display: grid;
  gap: 1.5em;
}

ol.content li {
  list-style-type: none;
  counter-increment: item;
  font-size: 1.2em;
}

ol.content li:before {
  content: counter(item);
  margin-right: 5px;
  font-size: 80%;
  background-color: #222;
  color: #fff;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}

p {
  font-size: 1.4em;
}

p.title-presentation {
  margin: 0;
}

p.name {
  font-weight: 600;
  margin: 0;
}

p.date {
  font-size: 1.2em;
  font-weight: 300;
  margin: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

h1.title {
  width: 60%;
}

h1.content {
  padding-left: 0.5em;
}

@media screen and (max-width: 768px) {
  .title {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .title {
    width: 90%;
  }
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
