main.introduction {
  text-align: start;
  width: var(--width-60);
}

main.introduction h1 {
  width: var(--width-100);
}

main.introduction p {
  width: var(--width-100);
  max-height: 72vh;
  overflow-y: auto;
  font-size: 1.2em;
  font-weight: 300;
  margin: 0;
}

@media screen and (max-width: 1080px) {
  main.introduction {
    width: var(--width-70);
  }

  main.introduction section {
    height: 64vh;
    overflow-y: auto;
  }
}

@media screen and (max-width: 768px) {
  main.introduction {
    width: var(--width-80);
  }

  main.introduction p {
    max-height: 64vh;
  }
}

@media screen and (max-width: 480px) {
  main.introduction {
    width: var(--width-90);
  }
}
