main.previous-knowledge {
  text-align: start;
  width: var(--width-60);
}

main.previous-knowledge section {
  height: 80vh;
  overflow-y: auto;
}

main.previous-knowledge h2 {
  position: sticky;
  top: 0px;
  z-index: 2;
  margin: 0px;
  height: 60px;
  width: var(--width-100);
  background-color: #fff;
}

main.previous-knowledge p {
  font-size: 1.2em;
  font-weight: 300;
  z-index: 1;
  margin-top: 0;
}

main.previous-knowledge h1, h2 {
  width: var(--width-100);
}

main.previous-knowledge ol {
  display: grid;
  gap: 1.5em;
}

main.previous-knowledge ol li {
  width: 96%;
  list-style-type: none;
  counter-increment: item;
}

main.previous-knowledge ol li:before {
  content: counter(item);
  margin-right: 5px;
  font-size: var(--width-80);
  background-color: #222;
  color: #fff;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}

main.previous-knowledge figure {
  display: grid;
  place-items: center;
  z-index: 1;
}

main.previous-knowledge figcaption {
  font-size: 0.85em;
  font-weight: 300;
  padding-top: 4px;
}

@media screen and (max-width: 1080px) {
  main.previous-knowledge section {
    height: 64vh;
    overflow-y: auto;
  }
}

@media screen and (max-width: 768px) {
  main.previous-knowledge {
    width: var(--width-80);
  }
}

@media screen and (max-width: 480px) {
  main.previous-knowledge {
    width: var(--width-90);
  }
}
